.load {
    border-color: #8a8a8a;
}
.imgLoad {
    background-color: #8a8a8a;
    color: white;
    animation: skeleton-loading 1s infinite linear;
}
@keyframes skeleton-loading {
    0% {
      background-color: #8a8a8a;
    }
    50% {
      background-color: #cacaca;
    }
    100% {
        background-color: #8a8a8a;
    }
}
.itemSize .itemLoad {
    width: 100%;
}
.imgLoad select {
    background-color: #8a8a8a;
    animation: skeleton-loading 1s infinite linear;
}