body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E2022;
    color: white;
}
.flexBoxCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexBoxJustifyStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flexBoxAlignEnd {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.flexBoxSpaceAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flexBoxSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexBoxJustifyStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flexBoxJustifyEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.boldText {
    font-weight: 800;
}
.flexBoxJustifySpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexBoxAlignStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
