body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E2022;
    color: white;
}
.fb {
    display: flex;
}
.ac {
    align-items: center;
}
.afe {
    align-items: flex-end;
}
.afs {
    align-items: flex-start;
}
.jc {
    justify-content: center;
}
.jsa {
    justify-content: space-around;
}
.jsb {
    justify-content: space-between;
}
.jfe {
    justify-content: flex-end;
}
.jfs {
    justify-content: flex-start;
}
.fb ac jc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fb ac jfs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fb afe jc {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.fb ac jsa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flexBoxSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fb ac jfs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fb ac jfe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.boldText {
    font-weight: 800;
}
.fb ac jsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexBoxAlignStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.load {
    border-color: #a0a0a0 !important;
}
.imgLoad {
    background-color: #a0a0a0 !important;
    color: white;
}
.itemSize .itemLoad {
    width: 100%;
}
.imgLoad select {
    background-color: #a0a0a0 !important;
    animation: skeleton-loading 1s infinite linear;
}